main {
    background-image: url(../Images/ChoixThème_Fond.png);
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: NerkoOne;
    font-size: 80px;
    -webkit-text-stroke: 1px #000;
}

#choix {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#music {
    width: 280px;
    border-radius: 20px;
    position: absolute;
    top: 283px;
    right: 255px;
}

#video {
    width: 320px;
    position: absolute;
    top: 260px;
    right: 605px;
}

#sport {
    width: 240px;
    height: 246px;
    position: absolute;
    top: 300px;
    left: 655px;
}

#culture {
   
    width: 240px;
    height: 246px;
    position: absolute;
    top: 300px;
    left: 261px;

}
/* ******effets test *************/

.container {
    position: relative;
}

#textecaché1 {
    position: absolute; 
    padding-left: 285px;
    margin-top: 5px;
    font-family: NerkoOne;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#textecaché2 {
    position: absolute;
    padding-left: 745px;
    margin-top: 5px;
    font-family: NerkoOne;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#textecaché3 {
    position: absolute;
    padding-left: 1090px;
    margin-top: 5px;
    font-family: NerkoOne;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#textecaché4 {
    position: absolute;
    padding-left: 1470px;
    margin-top: 5px;
    font-family: NerkoOne;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


img:hover {
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}