/* ***************************************************************** */
main {
  background-image: url(../Images/Culture_G_Fond.jpg);
  background-size: cover;
}

/* ***************************************************************** */

h1 {
  width: 333px;
  height: 60px;
  flex-shrink: 0;
  color: #40009c;
  border-radius: 30px;
  border: 4px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  font-family: "NerkoOne";
  -webkit-text-stroke: 2px #000;
}

h4 {
  width: 261px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #fff;
  background: #a4a3a3;
  box-shadow: 0px 4px 4px 0px #000;
  position: relative;
}

p {
  width: 100%;
  height: auto;
  border-radius: 30px;
  border: 5px solid #fff;
  background: #40009c;
  box-shadow: 0px 4px 4px 0px #000;
  color: #cbc5c5;
  text-align: center;
  font-family: "NerkoOne";
  font-size: 40px;
  font-style: normal;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  border-radius: 30px;
  border: 5px solid #40009c;
  background: #fff;
  box-shadow: 0px 4px 4px 0px #000;
  width: 510px;
  height: 93px;
  flex-shrink: 0;
  font-size: 30px;
  font-family: "NerkoOne";
  color: #40009c;
}
input[type="radio"]:checked + label {
  background-color: rgb(229, 255, 0);
}

input[type="radio"] + label:hover {
  background-color: rgb(229, 255, 0);
}
button {
  border-radius: 30px;
  border: 5px solid #40009c;
  background: #fff;
  box-shadow: 0px 4px 4px 0px #000;
  width: 510px;
  height: 93px;
  flex-shrink: 0;
  font-size: 30px;
  font-family: "NerkoOne";
  color: #40009c;
}

#Validation {
  background-color: #f701ff;
  color: white;
  animation: fadeInFromTop-4 2s ease-in-out;
}
/* ***********Effets Boutons**************************** */

@keyframes fadeInFromTop-1 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInFromTop-2 {
  0% {
    opacity: 0;
    transform: translateX(-45%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFromTop-3 {
  0% {
    opacity: 0;
    transform: translateX(45%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFromTop-4 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#haut {
  animation: fadeInFromTop-1 2s ease-in-out;
}

#reponsesG,
#final1 {
  animation: fadeInFromTop-2 2s ease-in-out;
}
#reponsesD,
#final2 {
  animation: fadeInFromTop-3 2s ease-in-out;
}

/* *******Afichage du score et bonnes reponses */

.invisible {
  display: none;
}

.visible {
  display: block;
}

article {
  display: none;
}
#final1 {
  width: 550px;
  height: 400px;
  color: rgb(255, 255, 0);
  font-size: 80px;
}
#final2 {
  width: 550px;
  height: 400px;
}
#retour {
  border-radius: 30px;
  text-decoration: none;
  border: 5px solid #40009c;
  background-color: #f701ff;
  box-shadow: 0px 4px 4px 0px #000;
  width: 510px;
  height: 93px;
  flex-shrink: 0;
  font-size: 30px;
  font-family: "NerkoOne";
  color: white;
  text-align: center;
  animation: fadeInFromTop-4 2s ease-in-out;
}
