#conteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: flex-start;
}

#TEXTE{
    text-align: center;
    font-family: MysteryQuest;
    font-size: 50px;
    color: white;
    padding-right: 50px;
    padding-top: 30px;
}

#JOUER{
    background-size: 10px;
    padding-left: 320px;
}
#jouer:hover{
    transform: scale(1.2);
    
}

#emoji {
    padding-left: 550px;
}

#sonic {
    background-size: cover;
    position: absolute;
    top: 40%;
    left: 40%;
}

#QUIZZcentre {
    background-size: cover;
    padding-top: 1%;
    padding-left: 20px;
}




/* NE PAS TOUCHER AU SLIDER */


#slid {
    display: flex;
}

.slider-container {
    position: absolute;
    width: 400px;
    height: 200px;
    overflow: hidden;
    top: 470px;
    left: 150px;
    border-radius: 10px;
}

.slider {
    display: flex;
}

.slide {
    flex: 0 0 100%;
}

/* Styles spécifiques pour chaque classe d'image */

.slide.culture img {
    width: 400px;
    height: 200px;
}

.slide.jeux img {
    width: 400px;
    height: 200px;
}

.slide.musique img {
    width: 400px;
    height: 200px;
}

.slide.sport img {
    width: 400px;
    height: 200px;
}

/* VIDEO RICK ROLL*/

/* #video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */