@font-face {
    font-family: 'MysteryQuest';
    src: url(../Font/MysteryQuest.ttf);
}

@font-face {
    font-family: 'NerkoOne';
    src: url(../Font/NerkoOne.ttf);
}

/* ************************************************************************************************** */

body {
    background-image: url(../Images/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* ************************************************************************************************** */

header {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 60px;
}

#Bouton_Home {
    width: 110px;
    height: 110px;
}

#Connexion {
    color: rgb(255, 255, 255);
    font-family: 'MysteryQuest';
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
}

#Classement {
    color: rgb(255, 255, 255);
    font-family: 'MysteryQuest';
    font-size: 20px;
    text-decoration: none;
    margin-right: 100px;
}

#logo_deco {
    width: 30px;
}

/* ************************************************************************************************** */

main {
    width: 100%;
    height: 78%;
    background-image: url(../Images/ConnexionInscription_Fond.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 95, 0.5);
}

/* ************************************************************************************************** */

.inscription {
    position: absolute;
    text-align: center;
    border-radius: 20px;
    left: 700px;
    top: 50%;
    transform: translate(0, -50%);
    width: 486px;
    height: 600px;
    flex-shrink: 0;
    border: 3px solid #ffffff;
    background: #830000;
}

.connexion {
    position: absolute;
    text-align: center;
    border-radius: 20px;
    left: 120px;
    top: 50%;
    transform: translate(0, -50%);
    width: 486px;
    height: 600px;
    flex-shrink: 0;
    border: 3px solid #ffffff;
    background: #830000;
}

.form-inscription {
    text-align: center;
    font-family: NerkoOne;
    font-style: normal;
    color: white;
}

.form-connexion {
    text-align: center;
    font-family: NerkoOne;
    padding-top: 25%;
    font-style: normal;
    color: white;
}

.formulaire {
    text-align: center;
    font-family: NerkoOne;
    font-style: normal;
    font-size: 18px;
    color: white;
}

.bouton {
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
}

#inscrire {
    position: absolute;
    border: solid 2px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    left: 210px;
}

#connexion {
    position: absolute;
    border: solid 2px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    left: 205px;
}

#mdp_oublie {
    color: white;    
    text-decoration: none;
    font-family: NerkoOne;
}

#mdp_oublie:hover {
    text-decoration: underline;
    color: black;
}

#koopa {
    position: absolute;
    right: 50px;
}

/* ************************************************************************************************** */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    width: 100%;
    padding-bottom: 20px;
}

#Liens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.element a {
    text-decoration: none;
    font-family: 'NerkoOne';
    color: white;
    font-size: 20px;
}

/* ************************************************************************************************** */