main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100%;
    height: 78%;
    background-image: url(../Images/fond-decran-noir21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#TEXTE {
    text-align: center; 
    line-height: 100px;
    font-family: NerkoOne ;
    font-style:normal;
    color: rgb(255, 255, 255);
    margin-left: 300px;
    margin-right: 50px;

}

#JIMM{
    margin-top: -4%;
    
}

#conteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    justify-content: space-around;
    align-items: row;
    padding-top: 5%;

}
